@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: #1b98f5;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  background-color: #fff;
  width: 35%;
  height: fit-content; /* 500px */
}
.title {
  text-align: center;
  margin-top: 30px;
}

.data {
  width: 79%;
  margin-top: 10px;
  padding: 12px;
  text-align: center;
}

.submit {
  width: 87%;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  border: none;
  background-color: #1b98f5;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10%;
}

img {
  opacity: 0;
  width: 100px;
  margin-top: 10%;
}

.visible {
  opacity: 1;
  transition: all 5s ease;

  scale: 2;
  margin-bottom: 15%;
}
